.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to right, #f3f5f6, #bafae7);
}

.card {
 
  width: 460px;
  height: 600px;
  padding: 60px;
  border-radius: 16px;
  background: white;
  box-shadow: 0 6px 25px rgba(0,0,0,0.1);

}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;

}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.inputGroup label {
  font-size: 13px;
  margin-bottom: 5px;
  color: #333;
}

.inputGroup input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
 
.passwordWrapper {
  position: relative;
}

.passwordWrapper input {
  width: 100%;
}

.eye {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
 
.hint {
  font-size: 11px;
  color: #555;
  margin-top: 5px;
}
 
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  gap: 10px;
}

.checkbox {
  font-size: 12px;
   display: flex;
  align-items: center;
  font-size: 12px;
  gap: 6px;
  white-space: nowrap;
}

.checkbox span {
  color: #00a89d;
}
 
.captcha {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 12px;
  border-radius: 5px;
}
 
.btn {
  width: 60%;
  margin: 15px auto;
  display: block;
  padding: 10px;
  background: #d0d5d7;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: not-allowed;
  transition: 0.3s;
}

.activeBtn {
  background: #00a89d;
  cursor: pointer;
}

.activeBtn:hover {
  background: #009688;
}

 
.bottomText {
  text-align: center;
  font-size: 13px;
}

.bottomText a {
  color: #00a89d;
  text-decoration: none;
}

.back {
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
  color: #00a89d;
  cursor: pointer;
}